.product-container{
    background-color: white;
    /* min-width: 1120px; */
    /* min-height: 90vh; */
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(246, 243, 243);
}
.product-card {
    transition: transform 0.2s ease;
    border-radius: 10px;
    height: fit-content;
    cursor: pointer;
    margin: 5px;
  }
  
  .product-card:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }
  
  .product-image {
    height: 300px;
    object-fit: contain !important;
    object-position: center;
    padding: 10px;
  }
  
  .product-title {
    font-size: 0.9rem;
    font-weight: 500;
    height: 38px;
    overflow: hidden;
  }
  